<%= form_for [@lookup_sort, lookup],html: {class: "form-horizontal form-label-left" }  do |f| %>
<div class="x_panel">
  <div class="field form-group">
    <%= f.label "*ä»£ç¢¼", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <% if lookup.code.nil? %>
    <%= f.text_field :code, {class: "col-md-6 col-sm-6 col-xs-12", autofocus: true, required: true} %>
  <% else %>
    <%= f.text_field :code, {class: "col-md-6 col-sm-6 col-xs-12", disabled: true} %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label "*åç¨±", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.text_field :name, {class: "col-md-6 col-sm-6 col-xs-12", required:"required", autofocus: (true unless lookup.code.nil?) } %>
  </div>

  <div class="field form-group">
    <%= f.label "æè¿°", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.text_field :description, {class: "col-md-6 col-sm-6 col-xs-12"} %>
  </div>

  <div class="field form-group">
    <%= f.label "æ¨™ç±¤", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.text_field :tag, {class: "col-md-6 col-sm-6 col-xs-12", placeholder: "tag"} %>
  </div>

  <div class="field form-group">
    <%= f.label "é–‹å§‹æ—¥æœŸ", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.date_field :start_on, {class: "col-md-6 col-sm-6 col-xs-12", placeholder: "ä¾‹ï¼š2017/04/14"} %>
  </div>

  <div class="field form-group">
    <%= f.label "çµæŸæ—¥æœŸ", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.date_field :end_on, {class: "col-md-6 col-sm-6 col-xs-12", placeholder: "ä¾‹ï¼š2017/04/24"} %>
  </div>

  <div class="actions" style="text-align:center">
    <%= f.submit "é€å‡º", class: "btn btn-success", data: {disable_with: "...ðŸš€"} %>
  </div>
</div>
<% end %>
