<%= form_for(lookup_sort, html: {class: "form-horizontal form-label-left"}) do |f| %>
<div class="x_panel">
  <br/>
  <div class="field form-group">
    <%= f.label "*ä»£ç¢¼é¡žåž‹", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <% if lookup_sort.sort.nil?  %>
      <%= f.text_field :sort, {class: "col-md-6 col-sm-6 col-xs-12", autofocus: true, required: true} %>
    <% else %>
      <%= f.text_field :sort, {class: "col-md-6 col-sm-6 col-xs-12", disabled: true} %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label "*åç¨±", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.text_field :name,{class: "col-md-6 col-sm-6 col-xs-12",required:"required",  autofocus: (true unless lookup_sort.sort.nil?) } %>
  </div>

  <div class="field form-group">
    <%= f.label "æè¿°", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <%= f.text_field :description,{class: "col-md-6 col-sm-6 col-xs-12"} %>
  </div>

  <div class="actions" style="text-align:center">
    <% if lookup_sort.sort %>
      <%= f.submit "æ›´æ”¹", class: "btn btn-success", data: {disable_with: "...ðŸš€"} %>
    <% else %>
      <%= f.submit "æ–°å¢ž", class: "btn btn-success", data: {disable_with: "...ðŸš€"} %>
    <% end %>  
  </div>
</div>
<% end %>
