<%= form_for(job_define, html: {class: "form-horizontal form-label-left"}) do |f| %>
<div class="x_panel">
  <br/>
  <div class="field form-group">
    <%= f.label "*å·¥ä½œé¡žåž‹", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.select :worker_type, options_for_select([['å·¥ä½œ','Worker'],['å ±è¡¨','Report']],job_define.worker_type||'Worker'),{prompt: "è«‹é¸æ“‡..."}, {class: "form-control", required: true, id: "worker_type", autofocus: true, include_blank: false}%>
    </div>
  </div>
  <div class="field form-group" id="job_class_div">
    <%= f.label "*é¡žåˆ¥", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :job_class, class: "form-control col-md-7 col-xs-12" %>
    </div>
  </div>
  <div class="field form-group" id="report_code_div">
    <%= f.label "*å ±è¡¨ä»£ç¢¼", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :report_code, class: "form-control col-md-7 col-xs-12" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label "*åç¨±", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, {class: "form-control col-md-7 col-xs-12", required:true} %>
    </div>

  </div>

  <div class="field form-group">
    <%= f.label "åŒç¨‹å¼äº’æ–¥", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :mutual_exclusion, class: 'checkbox' , style: 'margin: 10px'%>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label "ç³»çµ±åŸ·è¡Œç¨‹å¼", class: "control-label col-md-3 col-sm-3 col-xs12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :system_only, class: 'checkbox' , style: 'margin: 10px' %>
    </div>
  </div>

  <div class="actions" style="text-align:center">
    <%= f.submit "é€å‡º", class: "btn btn-success", data: {disable_with: "...ðŸš€"} %>
  </div>
</div>
<% end %>

