<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <%= link_to(root_path, {class: "site_title"}) do %>
        <%= image_tag('logo.svg',height: 40, width: 50) %>
        <%= content_tag(:span, 'XXXXX') %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-gear"></i>
              設定
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">              
              <li>
                <%= link_to lookup_sorts_path do %>
                <i class="fa fa-font"></i>
                代碼設定
                <% end  %>
              </li>
              <li>
                <%= link_to job_defines_path do %>
                <i class="fa fa-gear"></i>
                工作定義
                <% end  %>
              </li>              
            </ul>
          </li>
          <li>
            <%= link_to '#' do %>
            <i class="fa fa-dashboard"></i>
            儀表板
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
            <i class="fa fa-eye"></i>
            工作檢視器
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
